In [1]:
import pandas as pd
import scipy 
import numpy as np
from scipy import stats

In [2]:
ct=pd.read_csv("Cutlets.csv")

In [3]:
ct.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [4]:
ct.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [5]:
ct.shape

(35, 2)

In [6]:
stats.ttest_ind(ct.iloc[:,0],ct.iloc[:,1])

Ttest_indResult(statistic=0.7228688704678063, pvalue=0.4722394724599501)